{% extends "base.html" %}
	{% block content %}
  
    <section class="js-section_title header_slider theme-black">
        <div  class="header_slider--header" >
            <div class="media" style="width: fit-content;  height: fit-content;">
            <img fetchpriority="high" width="1488" height="900" src="../img/com_rojava_2026_janvier.jpg" class="image_default no-lazy" style="background-color: 1a1a1b !important;" alt="illustration_radio" decoding="async" />
            </div>
            <div class="right">
                <div class="title">Le Rojava assiégé</div>
                <div class="date_article" style="margin-left: 2%; margin-top: 0; padding-top:0; margin-bottom: 2.5em;">Lien permanent : <a href="https://monde-libertaire.net/index.php?articlen=8803" target="_blank" style="color:white">https://monde-libertaire.net/index.php?articlen=8803</a></div>
                <strong><div class="subtitle">  La révolution kurde en péril - le début d’une nouvelle guerre civile  </div></strong><br>
                <div class="description" style="line-height: 1.2; font-size: 1.0em; margin-left: 2%; margin-top: 1.4em; margin-bottom: 30%;">
                    
                    <br>
                    Ce lundi 19 janvier, j’apprends très tôt le matin que les forces démocratiques syriennes se retirent du combat contre le gouvernement syrien. En fait, tout est orchestré depuis des mois : la Syrie HTS reprend le contrôle en début janvier du quartier kurde d’Aleppo ; avec l’aide des milices djihadistes, elle lance à partir du 5-6 janvier une attaque coordonnée sur Raqqa et Deir ez Zor ; assurée de la victoire, elle reconnaît le 16 janvier une citoyenneté pour les Kurdes ; le 18 janvier, la France s’accorde avec le gouvernement syrien qu’aucune tendance séparatiste ne doit exister.<br>
                    <br>
                    Aujourd’hui, le Rojava est tombé. Le djihadisme a pris le contrôle des territoires qui, depuis 2012, tentaient de s’autonomiser et de construire une alternative confédéraliste, démocratique et sociale. Le Rojava est une erreur dans la matrice, une victoire éphémère.<br>
                    
                    Depuis 2020, pour moi, le Rojava est un sujet d’étude et d’inspiration. J’arborais en manifestation son symbole, son étoile et son soleil, symbolisant la coexistence des identités culturelles au sein d’un système autogéré, mais cerclé, rappelant ainsi notre symbolique anarchiste de l’ordre sans le pouvoir.   <br>
                    <br>
                    Comme beaucoup d’autres expériences, le Rojava montre des défauts comme des limites, notamment vis-à-vis de la place de la religion dans sa société, de son lien avec l’ONU et de sa composante armée plus que trop présente dans les politiques locales. Mais on ne peut que saluer l’effort qui a été porté à essayer un socialisme sans État centralisé et autoritaire. On peut saluer l’instauration d’une organisation décentralisée mettant en place : la réhabilitation et non l’incarcération ; l’autodéfense des femmes et non leur musellement  ; la reconstruction sociale d’un territoire détruit par des années de terreur exercées par le djihad et l’État islamique ; la communalisation des terres agricoles et leur transformation en coopérative ; une attention au poste de gestion et à sa révocabilité possible ; la mise en place du consensus ; un contrat social pour une société égalitaire, paritaire, respectueuse des droits des minorités en guise de constitution…<br>
                    <br>
                    Ce n’est pas la fin, mais le début d’une nouvelle guerre civile en Syrie. Les Kurdes vont subir de nouveau une terreur islamique, mais cette fois-ci soutenue par les gouvernements internationaux. Pourtant, les Kurdes ont servi aux États du monde dans le combat contre l’État islamique. Le territoire contient malheureusement 50% des réserves de pétrole de Syrie. Et les contrats commerciaux internationaux surpassent la vie et l’autonomie des territoires. Encore une fois, c’est la victoire des nationalistes, des belliqueux, des religieux et des identitaires.<br>
                    <br>
                    Il est plus que jamais important de se tourner vers les structures anarchistes, de s’organiser, de laisser tomber le carriérisme, de faire du concret, de faire grandir la Fédération anarchiste. Nos idées ne sont pas utopiques, elles sont pratiques, réalistes et possibles. C’est triste, mais bientôt, il est fort possible qu’une guerre mondiale éclate, et que nous devions nous engager sérieusement dans une résistance sociale et anarchiste.<br>
                    <br>
                    Le Rojava a montré qu’il était possible de faire beaucoup avec très peu. Il est temps d’en faire de même, et revendiquer l’autonomie, le confédéralisme, la coordination intelligente des anarchistes et de créer l’alternative insurrectionnelle.<br>
                    <br>
                    Crabi – Liaison commune de Lyon – Fédération anarchiste - le 22 janvier 2026 <br>
                    <br>
                </div>
            </div>
        </div>
        
           <div>
    <!-- Le carroussel de carte -->
        {% include "Cards_brochure.html" %}
        
    </div>
    </section>
 
    {% endblock content %}