<div class="phone">
    
    <svg style="z-index:2;    background-color: #00000000;width: 100%; transform: rotate(180deg); position: relative;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#060606" fill-opacity="1" d="M0,288L34.3,245.3C68.6,203,137,117,206,117.3C274.3,117,343,203,411,218.7C480,235,549,181,617,149.3C685.7,117,754,107,823,101.3C891.4,96,960,96,1029,106.7C1097.1,117,1166,139,1234,149.3C1302.9,160,1371,160,1406,160L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
    
    <div class="media-cards">



    {% include "Animation_connexion.html" %}

    <div class="swiper-container podcasts_header swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">

    <div class="swiper-wrapper" style="transition-duration:0ms; transform:translate3d(-1829.78px,0px,0px);">

    <!-- CARD 1 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white !important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Critique_du_Parti.html">
                <div  style="text-align:center;color:white!important; font-size: large; font-family: 'Libre Franklin', sans-serif !important;">Critique du Parti</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_1.png);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white !important;font-size: large;" >
            <a href="{{data.oma.args.website_prefix}}/index.html#qui">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Livret d'intention de la liaison commune de Lyon</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_3.jpg);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Proposition_10_sept.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Confédération locale</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_2.png);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 4 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/TDS_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Pas d'anarchisme sans les putes</div>
                <div class="cards_content__infos" style="background-image:url(img/TDS_illustration_livret.png);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 5 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Trans_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large; font-family: 'Libre Franklin', sans-serif !important;">Pas d'anarchisme sans les personne trans</div>
                <div class="cards_content__infos" style="background-image:url(img/Trans_illustration_livret.png);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 6 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Rojava_assiege.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Communiqué : Rojava assiégé</div>
                <div class="cards_content__infos" style="background-image:url(img/com_rojava_2026_janvier.jpg);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 7 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Jeu_Arago_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">ARAGO, le jeu de société sur 1936</div>
                <div class="cards_content__infos" style="background-image:url(img/arago_premier.png); background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    </div>

    <!-- SVG CLIP PATH -->
    <svg width="0" height="0">
    <defs>
    <clipPath id="mediaCardClipPath" clipPathUnits="objectBoundingBox">
    <path id="curve"
        transform="scale(0.00285,0.00254)"
        d="M -20 442 L 0 50 A 8 2 0 0 1 356 50 L 356 442 Z">
    </path>
    </clipPath>
    </defs>
    </svg>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    </div> <!-- swiper-container -->





    </div> 
</div>  

<div class="no_phone">
        
    <div class="media-cards">



    {% include "Animation_connexion.html" %}

    <div class="swiper-container podcasts_header swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">

    <div class="swiper-wrapper" style="transition-duration:0ms; transform:translate3d(-1829.78px,0px,0px);">

    <!-- CARD 1 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white !important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Critique_du_Parti.html">
                <div  style="text-align:center;color:white!important; font-size: large; font-family: 'Libre Franklin', sans-serif !important;">Critique du Parti</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_1.png);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 2 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white !important;font-size: large;" >
            <a href="{{data.oma.args.website_prefix}}/index.html#qui">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Livret d'intention de la liaison commune de Lyon</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_3.jpg);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 3 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Proposition_10_sept.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Confédération locale</div>
                <div class="cards_content__infos" style="background-image:url(img/Brochure_2.png);">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>

    <!-- CARD 4 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/TDS_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Pas d'anarchisme sans les putes</div>
                <div class="cards_content__infos" style="background-image:url(img/TDS_illustration_livret.png);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 5 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Trans_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large; font-family: 'Libre Franklin', sans-serif !important;">Pas d'anarchisme sans les personne trans</div>
                <div class="cards_content__infos" style="background-image:url(img/Trans_illustration_livret.png);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 6 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Rojava_assiege.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">Communiqué : Rojava assiégé</div>
                <div class="cards_content__infos" style="background-image:url(img/com_rojava_2026_janvier.jpg);background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    <!-- CARD 7 -->
    <div class="js-radio-card swiper-slide cards_header">
        <div class="cards_content" style="text-align:center;color:white!important;font-size: large;">
            <a href="{{data.oma.args.website_prefix}}/articles/Jeu_Arago_FA_Lyon.html">
                <div  style="text-align:center;color:white!important;font-size: large;font-family: 'Libre Franklin', sans-serif !important;">ARAGO, le jeu de société sur 1936</div>
                <div class="cards_content__infos" style="background-image:url(img/arago_premier.png); background-color: white;">
                    <div class="js-track_infos"></div>
                </div>
            </a>
        </div>
    </div>
    </div>

    <!-- SVG CLIP PATH -->
    <svg width="0" height="0">
    <defs>
    <clipPath id="mediaCardClipPath" clipPathUnits="objectBoundingBox">
    <path id="curve"
        transform="scale(0.00285,0.00254)"
        d="M -20 442 L 0 50 A 8 2 0 0 1 356 50 L 356 442 Z">
    </path>
    </clipPath>
    </defs>
    </svg>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    </div> <!-- swiper-container -->





    </div> 
</div>

