{% extends "base.html" %}

	{% block content %}
		<section class="js-section_title header_slider theme-white">
			
			<div class="no_phone">
				<div class="header_slider--header" style="position: absolute;">
				
					<div class="right">
						<div class="title">Nos communiqués</div>
						<div class="subtitle">Villeurbanne anarchiste aujourd'hui, hier et demain. <br />La liste de nos communiqués à destination de nos ennemi·es comme de nos ami·es</div>
						<div class="description"></div>
						<div class="link">

							</div>
					</div>
				</div>
				<div class="media" style="text-align: right;display: block !important;width: -webkit-fill-available;">
						<img src="./img/image_2_flag_modif.png" class="image_default no-lazy" alt="Radio Grabuges" decoding="async" />
						
				</div>
				<div style="font-size: x-small;display: flex;justify-content: flex-end; align-items: flex-end; padding: 1rem; align-content: flex-end;">
							photo de @LYNS4NE
				</div>
			</div>    
			<div class="phone">

				<div class="header_slider--header" style="position: absolute;">
				
					<div class="right">
						<div class="title">Nos communiqués</div>
						<div class="subtitle">Villeurbanne anarchiste aujourd'hui, hier et demain. <br />La liste de nos communiqués à destination de nos ennemi·es comme de nos ami·es</div>
						<div class="description"></div>
						<div class="link">

							</div>
					</div>
				</div>
				<div class="media" style="display: flex;    justify-content: center;    align-content: flex-end; width: -webkit-fill-available;">
						<img src="./img/image_2_phone_flag_modif.png" class="image_default no-lazy" alt="Radio Grabuges" decoding="async" />
						
				</div>
				<div style="font-size: x-small;display: flex;justify-content: flex-end; align-items: flex-end; padding: 1rem; align-content: flex-end;">
							photo de @LYNS4NE
				</div>
			</div> 
			<!-- Slider des podcasts -->
					<div class="container-fullslider">
						<div class="swiper-container swiper_fiveposts">
							<div class="swiper-wrapper">
								
								<!-- Podcast 1 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width:100%;">
										<a href="./index.html#qui">
											<img 
												src="./img/Logo_FA_Lyon.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" />
											<noscript>
												<img 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">Livret d'intention</a></h2>
											<p>Nos intentions à Lyon et Villeurbanne</p>
										</div>
									</div>
								</div>

								<!-- Podcast 2 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 100%; ">
										<a href="./articles/Rojava_assiege.html">
											<img 
												src="./img/com_rojava_2026_janvier.jpg" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" 
												data-lazy-src="" />
											<noscript>
												<img 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">Rojava assiégé</a></h2>
											<p>Communiqué de Janvier 2026 sur le Rojava</p>
										</div>
									</div>
								</div>

								<!-- Podcast 3 -->
								<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100%;margin-right: 20%;">
									<div class="card-podcast" style="padding: 0;width: 100%;">
										<a href="./articles/Proposition_10_sept.html">
											<img 
												src="./img/Brochure_2.png" 
												class="attachment-cube-thumb size-cube-thumb wp-post-image" 
												alt="" decoding="async" 
												data-lazy-src="" />
											<noscript>
												<img 
													src="" 
													class="attachment-cube-thumb size-cube-thumb wp-post-image" 
													alt="" decoding="async" />
											</noscript>
										</a>
										<div class="card-podcast__content">
											<h2><a href="">Proposition Stratégique</a></h2>
											<p>Livret diffusé à Lyon et Villeurbanne pour la réalisation d'une confédération anarchiste.</p>
										</div>
									</div>
								</div>


							</div>

							<div class="swiper-button-prev"></div>
							<div class="swiper-button-next"></div>

						</div>
					</div>
		
		
	</section>

	
	{% endblock content %}

