{% extends "base.html" %}

{% block content %}

<section>
	<div class="no_phone">
		<div>
		<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</div>

		
		<div>
			
			{% include "carte.html" %}
			
		</div>
		
		<div id="qui" style="margin-top: 10%;">
			
			{% include "Section_accueil.html" %}
			
		</div>
		
	
	</div>
	
	<div class="phone">
	
		<div class="media" style="display: grid !important;">
			<img fetchpriority="high" src="./img/publication site FA_1.webp" class="image_default no-lazy" style="width: 100%!important;">
			
			<img fetchpriority="high" src="./img/publication site FA_2.webp" class="image_default no-lazy" style="width: 100%!important;">
		</div>
		
	
		<div id="qui">
			
			{% include "Section_accueil.html" %}
			
		</div>

		
		<div>
			<!-- Le carroussel de carte -->
				{% include "Cards_brochure.html" %}
				
		</div>
	</div>
	

</section>
	
		

{% endblock content %}

