{% extends "base.html" %}

{% block content %}

<section>
	<div class="no_phone">
		<div>
		<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</div>

		
		<div id="graph-wrapper" style ="display: flex !important; position: relative; text-align: center; align-content: center; justify-content: center;">
			
			{% include "carte.html" %}
			
		</div>
		

		<div id="qui">
			
			{% include "Section_accueil.html" %}
			
		</div>
		
	
	</div>
	
	<div class="phone">
	
		<div class="media" style="display: grid !important;">
			<img fetchpriority="high" src="./img/publication site FA_1.webp" class="image_default no-lazy" style="width: 100%!important;">
			
			<img fetchpriority="high" src="./img/publication site FA_2.webp" class="image_default no-lazy" style="width: 100%!important;">
		</div>

		<div id="qui">
			
			{% include "Section_accueil.html" %}
			
		</div>

		
		<div>
			<!-- Le carroussel de carte -->
				{% include "Cards_brochure.html" %}
				
		</div>
	</div>
			
		<script>

	var graph;

	function initCanvas() {

	//This function is called onload of body itself and it will make the mxgraph canvas
	graph = new mxGraph(document.getElementById('graph-wrapper'));
	graph.htmlLabels = true;
	graph.cellsEditable = false;

		graph.model.beginUpdate();
		var graphXmlStr =  `<mxGraphModel><root><mxCell id="0"/><mxCell id="1" parent="0"/><div xmlns="http://www.w3.org/1999/xhtml" id="2" style="width: 100px; height: 100px; border-radius: 50%; background: red; display: inline-flex; text-align: center; color: #fff; align-items: center; justify-content: center;">&#xa;                Pipe&#xa;           <mxCell xmlns="" style="fillColor=none;strokeColor=none" vertex="1" parent="1"><mxGeometry x="150" y="50" width="100" height="100" as="geometry"/></mxCell></div></root></mxGraphModel>`;
		var doc = mxUtils.parseXml(graphXmlStr);
		var codec = new mxCodec(doc);
		codec.decode(doc.documentElement, graph.getModel());
		graph.model.endUpdate();
		
		//graph.graphModelChanged([])
		// render as HTML node always. You probably won't want that in real world though
		graph.convertValueToString = function(cell) {
			return cell.value;
		}
		
		graph.refresh();

	} 
		</script>

</section>
	
		

{% endblock content %}

