{% extends "base.html" %}
	{% block content %}
    <section class="js-section_title header_slider theme-white">
							
        <div  class="header_slider--header">
            <div class="media" style="width: fit-content;  height: fit-content;" >
                <img fetchpriority="high" width="1488" height="900" src="../img/arago_premier.png" class="image_default no-lazy" style="background-color: #ffffff !important;" alt="illustration_radio" decoding="async" />
                
            </div>

            <div class="right">
                <div class="title">
                    ARAGÓ
                </div>
                <div class="subtitle">
                    Jeu de société sur la Guerre civile espagnole de 1936 <br />
                    Coordonné et pensé par Crabi de la liaison commune de Lyon
                    <br />Edité par les éditions du monde libertaire
                    <br /><br />Les idées derrières le Jeu 
                </div>

                <div class="description">
                    « ARAGO » signifie « Aragon » en catalan. C’est une région d’Espagne, forte de sa culture libertaire. Force s’étant réveillée lors des événements de la guerre civile espagnole en 1936.
                    <br /><br />D’ailleurs, on est amené à connaître la « guerre civile » dans nos cercles militants. Mais comment faire de la pédagogie sur le sujet dans nos cercles amicaux ou collégiaux ? 
                    C’est justement à cette problématique que
                    répond ce petit « war-game » historique et d’anticipation politique.
                    <br /><br />Il a été réalisé à l’initiative d’une membre du collectif anarchiste Purpleblack et de la Fédération Anarchiste avec le soutiens financier et logistique de celle-ci. Accompagnée de plusieurs membres « collaborateurices » listé.es plus bas. Le format particulier de ce jeu souhaite l’enseignement de divers sujets de façon ludique et originale. 
                    <br /><br /> Dans ce jeu, les joueuses interagissent avec les actualités de l’époque  :
                    des cartes « journaux ». Celles-ci impactent le court de la partie. Mais elles portent surtout des messages politiques importants qui permettent, en quelques sortes, de peindre un décors sur les années de la guerre civile.
                    <br /><br /> Les sources derrière ce travail pédagogique sont diverses  : 
                    <ol>
                        <li>
                            « La CNT dans la révolution espagnole » (1952) de José Peirats, ancien membre de la CNT, 
                        </li>
                        <li>
                            Sam Dolgoff dans « The anarchist collectives; workers' selfmanagement in the Spanish Revolution - 1936-1939» (1974),
                        </li>
                        <li>
                            Ronald Fraser dans « Blood of Spain : an oral history of the Spanish Civil War » (1970), 
                        </li>
                        <li>
                            « Free Women of Spain : Anarchism and the Stuggle for the Emancipation of Women » de Martha A. Ackelsberg,
                        </li>
                        <li>
                            Mary Nash dans « Mujeres Libres » España, 1936–39, Serie los libertarios (Barcelona : Tusquets editor, 1976),
                        </li>
                        <li>
                            « La Guerre d’Espagne Révolution et contre-révolution (1934-1939) » de Burnett Bolloten (2014). 
                        </li>
                    </ol>	
                    <br /><br /> Aussi, évidemment, il y a une prise de position « anarchiste ». Tout ce travail politique et militant parle des événements de la guerre civile pour amener, avec transparence, nos positions contemporaines vis-à-vis de ceux-ci.
                    L’objectif est d’amener la discussion et l’échange, surtout vis-à-vis des cartes d’anticipation historique. Celles-ci posent la question  : Oui mais si ... ?  
                    <br /><br /> Les figurines et personnages sont inspiré.es « de l’époque ». On retrouve les « tanks » et les voitures blindées qui sortent des usines collectivisées / improvisées. Enfin, des cartes personnages ont été pensées pour faire connaître les personnalités, connues et méconnues, ayant eu de l’importance dans les événements de la Guerre civile espagnole. 
                
                </div>
        </div>
    </div>
</section>
    <!-- Slider des podcasts -->
                <div class="container-fullslider">
                    <div class="swiper-container swiper_fiveposts">
                        <div class="swiper-wrapper">
                            
                            <!-- Podcast 1 -->
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100% !important;margin-right: 20%;">
                                <div class="card-podcast" style="padding: 0;width: 100%;">
                                    <a href="">
                                        <img 
                                            src="../img/Cipriano_Mera_carte_89x57.png" 
                                            class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                            alt="" decoding="async" 
                                            data-lazy-src=""
                                            style="width: 300px;"/>
                                        <noscript>
                                            <img
                                                src="" 
                                                class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                                alt="" decoding="async" />
                                        </noscript>
                                    </a>
                                    <div class="card-podcast__content">
                                        <h2><a href="">Cipriano Mera</a></h2>
                                        <p>Carte personnage stratégique anarchiste</p>
                                    </div>
                                </div>
                            </div>

                            <!-- Podcast 2 -->
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100% !important;margin-right: 20%;">
                                <div class="card-podcast" style="padding: 0;width: 100%;">
                                    <a href="">
                                        <img 
                                            src="../img/Franco_carte_89x57.png" 
                                            class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                            alt="" decoding="async" 
                                            data-lazy-src="" />
                                        <noscript>
                                            <img 
                                                src="./wp-content/uploads/sites/images/radio_logo.png" 
                                                class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                                alt="" decoding="async" />
                                        </noscript>
                                    </a>
                                    <div class="card-podcast__content">
                                        <h2><a href="">Francisco Franco</a></h2>
                                        <p>Carte personnage stratégique fasciste</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Podcast 3 -->
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100% !important;margin-right: 20%;">
                                <div class="card-podcast" style="padding: 0;width: 100%;">
                                    <a href="">
                                        <img 
                                            src="../img/Jeton_sabotage.png" 
                                            class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                            alt="" decoding="async" 
                                            data-lazy-src="" />
                                        <noscript>
                                            <img 
                                                src="./wp-content/uploads/sites/images/radio_logo.png" 
                                                class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                                alt="" decoding="async" />
                                        </noscript>
                                    </a>
                                    <div class="card-podcast__content">
                                        <h2><a href="">Jeton d'objectif saboté</a></h2>
                                        <p>Lié à la carte de Mera.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Podcast 4 -->
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100% !important;margin-right: 20%;">
                                <div class="card-podcast" style="padding: 0;width: 100%;">
                                    <a href="">
                                        <img 
                                            src="../img/Gabarit_bombardement.png" 
                                            class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                            alt="" decoding="async" 
                                            data-lazy-src="" />
                                        <noscript>
                                            <img 
                                                src="./wp-content/uploads/sites/images/radio_logo.png" 
                                                class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                                alt="" decoding="async" />
                                        </noscript>
                                    </a>
                                    <div class="card-podcast__content">
                                        <h2><a href="">Gabarit de bombardement</a></h2>
                                        <p>Lié à la carte de Franco. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Podcast 5 -->
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 100% !important;margin-right: 20%;">
                                <div class="card-podcast" style="padding: 0;width: 100%;">
                                    <a href="">
                                        <img 
                                            src="../img/Jeton_temporel_3.png" 
                                            class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                            alt="" decoding="async" 
                                            data-lazy-src="" />
                                        <noscript>
                                            <img 
                                                src="./wp-content/uploads/sites/images/radio_logo.png" 
                                                class="attachment-cube-thumb size-cube-thumb wp-post-image" 
                                                alt="" decoding="async" />
                                        </noscript>
                                    </a>
                                    <div class="card-podcast__content">
                                        <h2><a href="">Jeton temporel</a></h2>
                                        <p>Permet de situer la joueuse dans le temps...</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                    </div>
                </div>
    <section class="js-section_title header_slider theme-black">
							
        <div  class="header_slider--header">
            <div class="right">
                    <div class="subtitle">
                        Gameplay 
                    </div>
                    
                    
                    <div class="description">
                        En ce qui concerne le style de jeu, chaque camp, phalangiste ou anarchiste, se veut équilibré en début de partie.
                        <br /><br />Les joueur.euses doivent prendre le commandement de colonnes de soldat.es qui se déplacent plus ou moins loin, qui touchent leur cible plus ou moins facilement et qui résistent plus ou moins longtemps. 
                        <br /><br />Chaque partie se veut être différente car en fonction des choix des cartes personnages, du placement des objectifs et des décors, l’issue du conflit peut changer.
                        
                    </div>
                    <div class="subtitle">
                        Anti-militarisme 
                    </div>
                    <div class="description">
                        Les unités d’infanteries, de blindées ou de transport servent à projeter la réalité tragique de la guerre. C’est pour cela qu’une importance est donnée à l’apparence des « pions » : Bien qu’un « meeple » de bois réponde au besoin « utilitaire » d’un jeu, la « figurine » y apporte une projection plus forte. 
                        <br /><br />Derrière tout cela, il n’y a aucune volonté à fétichiser la guerre et ses atrocités. Au-delà de l’apprentissage historique, l’objectif de ce « wargame » est aussi de rappeler les terribles conséquences de l’engagement
                        « armé » qu’il soit « révolutionnaire » ou « militaire ». 
                        
                    </div>
                    <div class="subtitle">
                        Note sur l'anarchisme
                    </div>
                
                    <div class="description">
                        Ce jeu veut aussi rappeler l’importance énorme qu’eu le mouvement anarchiste espagnole en 1936.
                        Si l’on analyse son histoire, on remarque que la culture anarchiste est présente dans 1/3 des foyers de l’époque. Chaque militant.e en 1936 hérite d’un réseau d’entraide local très développé. Rien ne tombe du ciel, la « révolution » a ses racines dans le développement de couches de solidarité forte.
                        Aussi, il ne faut pas oublier que les espagnol.es jouent un rôle crucial dans le développement du milieu anarchiste en France. Après la guerre, une grande partie des espagnol.es expatrié.es	 	y	 	créent	 	des	 	réseaux anarchistes, à l’image de ce qu’était l’Espagne libertaire. 
                        Enfin, tout ce projet n’aurait pas vu le jour sans l’aide de …
                    </div>
                    
                    <div class="subtitle">
                        Remerciements 
                    </div>
                    <div class="description" style="margin-bottom: 20%;">
                        Zoé pour la sérigraphie, Maxence / Gauthier / ...  à l’imprimante 3D, etc. * liste à compléter *
                    </div>
                
            </div>
            <div class="right">
                 <img src="../img/carte _espagne.png" style="text-align: center; width: 100%; height: auto; background-color: white;"/>
            </div>
        </div>
        
        <svg style="width: 100%;    position: absolute;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1a1a1b" fill-opacity="1" d="M0,288L34.3,245.3C68.6,203,137,117,206,117.3C274.3,117,343,203,411,218.7C480,235,549,181,617,149.3C685.7,117,754,107,823,101.3C891.4,96,960,96,1029,106.7C1097.1,117,1166,139,1234,149.3C1302.9,160,1371,160,1406,160L1440,160L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path></svg>
        
        <div>
		<!-- Le carroussel de carte -->
			{% include "Cards_brochure.html" %}
			
		</div>
    </section>
{% endblock content %}
