{#
	on garde une seule page pour afficher toutes les grilles afin que les futurs liens morts pointent toujours sur une page qui existe
#}

{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block title %}
	serie - 
{% endblock title %}

{% block content %}
<nav id="article" style="margin-top: 40px;">
<h2>{{ serie.fic | get(key="Titre", default="") }}</h2>
		{% if serie.fic.Texte %}
			<p>{{ txt_content(name=serie.fic.Texte) | safe }}</p>
		{% endif %}
		{# TODO paginationn #}
		{% include "episodes_serie.html" %}
</nav>


{% endblock content %}
