<div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 30%;">
	<div class="card-podcast" style = "aspect-ratio: 0 !important; width: auto !important; margin-right: 0 !important;">
	<div class="single_serie" style="aspect-ratio: 0 !important; width: auto !important; margin-right: 0 !important;">

		<a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/serie/{{serie._filename}}.html">
			{% if serie.Photo %}
				<img src="{{data.oma.args.soundbase_prefix}}/webpL/{{item.Photo}}.webpL" />
			{% elif data.config.Logo %}
				<img src="{{data.oma.args.soundbase_prefix}}/webpL/{{data.config.Logo}}.webpL" alt="Logo de la radio" />
			{% else %}
				<img src="{{data.oma.args.website_prefix}}/img/earth.svg" alt="image par défaut" />
			{% endif %}
		</a>
		<header>
		<h4 style = "font-size: 30px;  padding-top: 10px;  font-weight: normal;  background-color: black;  border: 3px #fff solid;  border-radius: 20px;">{{ serie | get(key="Titre", default="") }}</h4>
		<p>
			{% if item.Date %}
				<i>Le {{ item.Date | date_to_ts }}</i><br />
			{% endif %}

		{% set nb = serie | get(key="EpisodeNumber", default=0) -%}
		<span><a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/serie/{{serie._filename}}.html">{{ nb }} épisode{% if nb != "1" %}s{% endif %}</a></span>
		</p>
		</header>
		<div class="actions">
			{#
			<a href="">
				<img src="{{data.oma.args.website_prefix}}/img/rss.svg" alt="Flux RSS"/>
			</a>
			#}
			<a onclick="openShare(window.location.origin + '{{data.oma.args.website_prefix}}/serie/{{serie._filename}}.html')">
				<img src="{{data.oma.args.website_prefix}}/img/share.svg" alt="Partager"/>
			</a>
			<a onclick="return internalNavigation(event)" href="{{data.oma.args.website_prefix}}/serie/{{serie._filename}}.html">
				<img src="{{data.oma.args.website_prefix}}/img/plus.svg" />
			</a>
		</div>
	</div>

	</div>
</div>
