{% extends "base.html" %}
	{% block content %}
    
		<section class="js-section_title header_slider theme-white">
            <div  class="header_slider--header">
				<div class="media" style="width: fit-content;  height: fit-content;" >
					<img fetchpriority="high" width="1488" height="900" src="../img/TDS_illustration_livret.png" class="image_default no-lazy" style="background-color: #ffffff !important;" alt="illustration_radio" decoding="async" />
				</div>
                <div class="right">
                    <div class="title">
                        PAS D'ANARCHISME SANS LES <p  style="color:#923841 !important">PUTES</p>
                    </div>
<p>Parmi les courants féministes, il en est un que l’on appelle
l’abolitionnisme, et qui vise l’abolition de la prostitution et
du « travail du sexe » (TDS) dans son ensemble. L’expression de TDS n’y
est pas forcément appréciée et pour cause : la prostitution ne serait ni
du travail ni du sexe. Pourtant, cette expression a été créée par une
TDS états-unienne, Carol Leigh, dans le but de visibiliser la réalité de
son activité et la lutte pour sa reconnaissance dans la société. </p>
<p>Cette expression permet de distinguer le·a travailleureuse des termes
usuels tels que « prostitué·e » ou « pute », utilisés souvent de façon
méprisante et qui réduisent la personne uniquement à son activité.</p>
<p>Avant de continuer, rappelons que le « travail du sexe » n’inclut pas
la traite d’êtres humains à des fins sexuelles. Ce sujet, hautement
important de par sa gravité, nécessite une approche différente. Nous ne
pouvons comparer une personne qui consent à une personne forcée. En
effet, le TDS ne peut être considéré comme un travail que si le·a
travailleureuse y consent – au même degré qu'une personne consent à
prendre un emploi quelconque. Et la critique anticapitaliste<a
href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a> de la rémunération est entendable –
au même titre que la critique d’un·e artisan·ne à son compte.</p>
<p>Aussi, le TDS est un domaine vaste et extrêmement disparate. Ce
serait une erreur d’analyser de la même manière les diverses activités
rémunérées du sexe : le vécu d’une personne qui fait de la « cam » est
très différent de celui des « passes » dans la rue, ou du tournage de
films, ou encore une pratique uniquement occasionnelle. Loin de nous
l’idée d’être capables d’analyser l’entièreté du spectre des TDS, nous
préférons nous pencher sur les réactions qu’il entraîne dans l’idéologie
abolitionniste. L’argumentaire abolitionniste se résume en ces quelques
points (que nous réécrirons avec nos mots afin de ne pas manquer de
respect aux TDS) :</p>
<ol type="I">
<li>Les TDS ne peuvent réellement consentir au métier qu’iels exercent,
surtout si une de leur motivation est l’argent.</li>
</ol>
<p>Nous commencerons par un point assez facile pour les anticapitalistes
que nous sommes : qui consentirait à faire son métier s’iels n’étaient
pas payé·es, ou si l'argent n’était pas un besoin vital ? Sûrement peu
de personnes. De plus, tous les métiers ont leur lot de violences
émotionnelles et/ou physiques, et de compromis. Nous en avons presque
toustes un emploi malgré tout. Comme pour tous les métiers, nous le
choisissons par nécessité et affinité : certain·es choisissent le TDS
pour « la flexibilité des horaires, d’autres aiment rencontrer une
variété de gens en provenance de différents milieux, d’autres encore se
sentent à l’aise avec la sexualité, la nudité, les confidences,
l’écoute, le soutien moral »<a href="#fn2" class="footnote-ref"
id="fnref2" role="doc-noteref"><sup>2</sup></a>. Et lorsque certaines
personnes n'ont pas le choix<a href="#fn3" class="footnote-ref"
id="fnref3" role="doc-noteref"><sup>3</sup></a>, priver ces personnes du
TDS, c'est souvent les condamner à la précarité, à la dépendance
économique vis-à-vis d'une personne ou d'un organisme. Le TDS permet à
de nombreuses personnes précaires d'être indépendantes et de vivre dans
des conditions acceptables.</p>
<p>De plus, reconnaître le TDS tel qu’il existe, un travail, permet de
se pencher sur les conditions dans lesquelles il est pratiqué. Comme
pour l’avortement, plus on essaye d’interdire le TDS, plus il est
pratiqué dans de mauvaises conditions, sans que l’on observe une
réduction de la pratique. C’est un point primordial car les TDS ont
besoin de soutien et de reconnaissance, pas de leçons de morale, de
misérabilisme ou de condescendance. </p>
<ol type="I">
<li>Les TDS femmes<a href="#fn4" class="footnote-ref" id="fnref4"
role="doc-noteref"><sup>4</sup></a> exercent ce métier uniquement à
cause du patriarcat.</li>
</ol>
<p>Évidemment, le patriarcat joue un rôle dans le TDS et il est
nécessaire de lutter contre. Mais c’est aussi le cas dans tous les
milieux sociaux. Le patriarcat est omniprésent dans nos vies : les
femmes qui se marient à un homme, qui relationnent avec un homme ou qui
pratiquent du TDS avec un homme, prennent toutes le risque d’un échange
inégal d’un service contre un autre : de l'argent, de la sécurité, des
enfants, des tâches ménagères, un statut, etc. On voit bien que pour
avoir des conditions de vie décentes, relationner avec des hommes d'une
manière ou d’une autre est une nécessité.<a href="#fn5"
class="footnote-ref" id="fnref5" role="doc-noteref"><sup>5</sup></a></p>
<p>Chacune s’en sort comme elle le peut, la seule différence étant la
perception de la société sur leurs comportements et activités : le
mariage est légitime et valorisé, le TDS est illégitime et méprisé.
Pourtant, les deux partagent les mêmes risques : subir les violences
masculines, allant jusqu'au viol et/ou au meurtre. </p>
<p>Continuons sur ce parallèle entre l’activité sexuelle dans le mariage
hétérosexuel et dans le TDS pratiqué par une femme avec des clients
masculins. Si le sexe pratiqué par la TDS dans son travail est dégradant
ou violent, pourquoi le sexe au sein du mariage serait-il différent ?
Sachant qu’il peut être obtenu dans le mariage par la violence de la
part du mari et, dans les TDS, selon des règles et conditions établies
par la travailleuse auprès du client<a href="#fn6" class="footnote-ref"
id="fnref6" role="doc-noteref"><sup>6</sup></a>.</p>
<p>Alors pourquoi juger aussi durement les TDS pour le sexe réalisé dans
leur travail alors que celui pratiqué par un couple marié hétéro ne pose
pas de problème ? Le sexe hétérosexuel, que cela soit au sein d'un
mariage, d'une relation ouverte ou d'un travail du sexe, n’est pas
dégradant. Nous ne devons en aucun cas y porter un jugement moral,
surtout si c'est pour le faire uniquement envers les femmes. L’idée
selon laquelle le sexe hétérosexuel serait dégradant pour les femmes –
que ce soit au sein d’un mariage ou du TDS – est un des fondements du
patriarcat. </p>
<ol type="I">
<li>Le TDS est dégradant pour la personne qui le pratique</li>
</ol>
<p>Si vous pensez que le TDS est dégradant, ou qu'il fait perdre la
dignité d’une personne, le problème vient... uniquement de vos opinions.
Vous portez un jugement sur un comportement qui ne vous atteint pas et
ne vous blesse pas. Le jugement moral d'une pratique majoritairement
féminine et sexuelle vient d'une construction sociale selon laquelle le
sexe retirerait leur pureté aux femmes : cela se rapproche du concept de
« virginité », présent actuellement en France de par les restes d’une
culture chrétienne. Le tabou et la sacralisation du sexe participent
aussi à ce phénomène : il faudrait le réserver à son mari, après le
mariage par exemple. Ni dieu, ni maître, ni injonction religieuse sur
nos sexualités !</p>
<p>Un comportement choisi et/ou consenti qui ne fait de mal à personne
ne devrait pas être jugé de manière morale. Lorsqu’on est anarchiste, on
veut que les personnes soient libres de toutes oppressions systémiques.
Si des personnes se permettent des choses que vous ne faites pas, alors
elles étendent votre liberté à pouvoir le faire, si l'envie vous prend.
Si la réaction est d'essayer d'interdire ces libertés – notamment des
droits concernant la sexualité des minorités de genre –, demandons-nous
pourquoi ? Pourquoi voir le sexe tarifé comme dégradant pour ces
minorités ? À moins que ce qui dérange réellement soit le fait que ces
personnes aient l’autonomie de faire usage de leur propre corps ?</p>
<p>Jusqu’où contrôler ce qui est dégradant et asservissant ? Au nombre
de partenaires ? À la manière de s’habiller ? Au droit d'avorter ? Les
femmes et les minorités de genre devraient être autonomes de leurs choix
de vie, que cela plaise ou non. Car au final, l’abolitionnisme du TDS
s'inscrit dans le schéma du patriarcat : il consiste à contrôler le
corps des femmes et minorités de genre en leur interdisant d'en disposer
comme iels le souhaitent. Et si vous pensez encore que le mouvement
abolitionniste va « sauver les TDS », demandez-vous<a href="#fn7"
class="footnote-ref" id="fnref7" role="doc-noteref"><sup>7</sup></a>
plutôt s’iels ne veulent pas juste qu’on les respecte et qu’on les
écoute.</p>
<p>La critique du TDS peut être valide si elle ne s’accompagne pas de
jugement moral ou de généralités, on peut penser aux questions
économiques ou encore pratiques. Malheureusement, une vaste majorité des
critiques est uniquement moralisatrice et ne serait pas exprimée si le·a
travailleureuse en question pratiquait un autre métier. </p>
<p>On ne peut se dire anarchiste et s’attaquer aux systèmes oppressifs
sans s’attaquer au flic de la morale et des bonnes mœurs que l’on porte
en nous. </p>

<hr />
<ol>
<li id="fn1"><blockquote>
<p>C’est-à-dire l’exploitation de l’individu par lui ou elle-même, dans
le contexte capitaliste. </p>
</blockquote>
<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn2"><blockquote>
<p>Autres Regards, <em>Travail du sexe, toutes les réponses à vos
questions. Petit guide pour lutter contre les préjugés</em>, 2012, p.
7.</p>
</blockquote>
<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn3"><blockquote>
<p>Pas de papiers, discrimination à l'embauche, handicap,...</p>
</blockquote>
<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn4"><blockquote>
<p>Il est souvent question de femmes « cis » car l'abolitionnisme est
aussi essentialiste (donc transphobe). Ainsi peut-on remarquer que les
TDS de genre masculin (ainsi que trans, non binaire, racisé...) ne
rentrent pas dans la vision binaire de l'analyse abolitionniste des
« femmes qui se soumettent aux hommes ». Un texte entier pourrait être
écrit sur le sexisme d'une telle analyse.</p>
</blockquote>
<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn5"><blockquote>
<p>Cela est de moins en moins vrai pour certains points grâce aux
avancées des droits des femmes. Cependant, les droits avancent surtout
pour les femmes blanches, riches et/ou cis/hétéro. </p>
</blockquote>
<a href="#fnref5" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn6"><blockquote>
<p>Autres Regards<em>, op</em>. <em>cit</em>., note 2, p. 13.</p>
</blockquote>
<a href="#fnref6" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn7"><blockquote>
<p>Ou même demandez-leur ! Écouter un·e TDS permet d’apprendre beaucoup
et de déconstruire pas mal de préjugés. </p>
</blockquote>
<a href="#fnref7" class="footnote-back" role="doc-backlink">↩︎</a></li>
</ol>

                </div>
		    </div>
                <div>
    <!-- Le carroussel de carte -->
        {% include "Cards_brochure.html" %}
        
    </div>
        </section>

    {% endblock content %}
