{% extends "base.html" %}
	{% block content %}
    
		<section class="js-section_title header_slider theme-white">
            <div  class="header_slider--header">
				<div class="media" style="width: fit-content;  height: fit-content;" >
					<img fetchpriority="high" width="1488" height="900" src="../img/Trans_illustration_livret.png" class="image_default no-lazy" style="background-color: #ffffff !important;" alt="illustration_radio" decoding="async" />
				</div>
                <div class="right">
                    <div class="title">
                        PAS D'ANARCHISME SANS LES PERSONNES
                        <div style="background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #5BCDF9), color-stop(30%, #F4A8B8), color-stop(40%, black), color-stop(60%, #F4A8B8), color-stop(100%, #5BCDF9));
                        color: transparent; -webkit-background-clip: text;">TRANS</div>
                    </div>
                    <div class="subtitle" > Introduction à l'inclusion 
                        inconditionnelle des personnes trans dans les luttes anarchistes<br />
                        Darline, liaison Commune de Lyon
                        <br />
                        Livret diffusé à Lyon
                    </div>

                    <div class="description" style="text-align: justify;font-size:19px;background: transparent;line-height: 105%;margin-bottom: 30%;">
					<p>Entrée récemment dans les mouvements anarchistes, c’est avec
étonnement que je constate un certain retard sur la théorie queer et sur
la trans-identité. Nombreux·ses sont les anarchistes sceptiques, voire
ouvertement critiques. Pourtant, ces idées sont intrinsèquement
libertaires : elles brisent des normes strictes et arbitraires, donnent
des droits à des minorités et développent l’autodétermination<a
href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a>. C’est un combat pour davantage de
libertés. Malgré cela, une certaine méfiance persiste. L’absence de
positionnement clair des anarchistes est dangereuse : chez les
féministes, la transphobie polarise déjà les militant·es et
personnalités publiques d’un bord à l'autre de l’échiquier politique<a
href="#fn2" class="footnote-ref" id="fnref2"
role="doc-noteref"><sup>2</sup></a> ; chez les anarchistes, cela fait
perdre sa crédibilité au mouvement, notamment auprès des concerné·es qui
s’y sentent exclu·es ; et en général, la transphobie permet de
nombreuses dérives qui atteignent d’autres minorités.</p>
<p> </p>
<p>Pourtant, ce sujet occupe les espaces militants et politiques depuis
des décennies. Non seulement la trans-identité n’est pas « un phénomène
récent » – les premières traces connues remontent à l’antiquité<a
href="#fn3" class="footnote-ref" id="fnref3"
role="doc-noteref"><sup>3</sup></a> – mais plus récemment, les premiers
droits des personnes queers ont été gagnés par la lutte lors des émeutes
de Stonewall<a href="#fn4" class="footnote-ref" id="fnref4"
role="doc-noteref"><sup>4</sup></a> grâce à des femmes trans, comme la
militante emblématique Marsha P. Johnson. Les droits des personnes trans
sont donc indissociables de ceux des personnes queers. </p>
<p> </p>
<p>Qu’en est-il de soi-disant protéger les droits des « vraies femmes »
en excluant les femmes trans du féminisme ? C'est la stratégie de
l’extrême droite : s’attaquer d’abord à une partie marginalisée des
femmes avant de s’en prendre à la majorité. Et si la perte de droits
d’une minorité n’est déjà pas assez horrifiante, les femmes cis, surtout
celles jugées pas assez féminines, en subissent – dans une moindre
mesure, certes – aussi les conséquences<a href="#fn5"
class="footnote-ref" id="fnref5"
role="doc-noteref"><sup>5</sup></a>.</p>
<p>De plus, cette rhétorique essentialiste est incohérente : elle
devrait exiger que les hommes trans aient les mêmes droits que les
femmes cis. Pourtant, en France, ce n’est pas le cas : la PMA leur est
interdite<a href="#fn6" class="footnote-ref" id="fnref6"
role="doc-noteref"><sup>6</sup></a> et l’inscription de l’avortement
dans la constitution s’est faite sans les inclure<a href="#fn7"
class="footnote-ref" id="fnref7" role="doc-noteref"><sup>7</sup></a>.
Sans étonnement, aucun mouvement anti-trans ne s’en est indigné. </p>
<p> </p>
<p>Dans ces mêmes courants, certain·es avancent que les hommes trans
seraient des lesbiennes transitionnant pour ne plus subir l’homophobie.
Passons outre l’hétéro-cis-normativité et l’infantilisation, il n’est
pas plus facile d’être trans que gay, lesbienne, bi- ou encore
pan-sexuel·le : en 2022, parmi plus de mille lois anti-queer ont été
proposées par les législateur·ices aux États-Unis, 65% s’attaquaient
uniquement aux personnes trans<a href="#fn8" class="footnote-ref"
id="fnref8" role="doc-noteref"><sup>8</sup></a>.</p>
<p>Pour en finir avec la diffamation des femmes trans, attaquons-nous à
un mensonge aussi tenace qu’honteusement absurde, qu’aucun·e féministe
ne pourrait croire : les femmes trans seraient des violeuses ou – pire –
des hommes qui passeraient par une transition pour pouvoir violer en
toute impunité. Outre la redondance avec l’accusation encore portée
contre les hommes gays il y a quelques années, rappelons que 90 % des
viols sont commis par une personne connue de la victime<a href="#fn9"
class="footnote-ref" id="fnref9" role="doc-noteref"><sup>9</sup></a> et
que seuls 0,6 % des coupables sont condamnés<a href="#fn10"
class="footnote-ref" id="fnref10" role="doc-noteref"><sup>10</sup></a>.
Il est donc impensable pour un homme cis de passer par un tel parcours
pour pouvoir violer en toute impunité alors qu’ils le font déjà – dans
plus de 99 % des cas.</p>
<p>De plus, les femmes trans sont elles-mêmes largement victimes de
violences sexistes et sexuelles.<a href="#fn11" class="footnote-ref"
id="fnref11" role="doc-noteref"><sup>11</sup></a> Et en cas de crimes
avérés de leur part, la déshumanisation qu’elles subissent est à
l’opposé du traitement réservé aux « bons chefs de famille qui ont
dérapé ». En France, elles sont placées à l’isolement pour une durée
indéfinie, « pour leur sécurité », dans des prisons pour hommes – ce en
dépit du droit international<a href="#fn12" class="footnote-ref"
id="fnref12" role="doc-noteref"><sup>12</sup></a>. Aux États-Unis, elles
sont placées dans les cellules des détenus les plus violents où elles
sont violées quotidiennement. </p>
<p> </p>
<p>Les courants anti-trans affectent aussi les enfants. La panique
morale face aux endoctrinements ou aux violences sexuelles de la part
des personnes trans – ou des drag queens – est montée de toutes pièces
par l’extrême droite et fait beaucoup plus réagir que les violences –
avérées – de la part des institutions religieuses et/ou politiques.
Quant à la transition des mineur·es, ce sont le plus souvent des
bloqueurs de puberté<a href="#fn13" class="footnote-ref" id="fnref13"
role="doc-noteref"><sup>13</sup></a> qui leur sont prescrits afin de
retarder des modifications corporelles irréversibles dans l’attente
d’une éventuelle prise d’hormones. L’accès à ces derniers se fait
uniquement avec l’accord des parents, d’un·e psychiatre et d’un·e
endocrinologue à la demande de la personne. C’est aussi le cas pour les
opérations de réassignation de genre. En France, seules les
mammoplasties et mastectomies sont autorisées pour les mineur·es<a
href="#fn14" class="footnote-ref" id="fnref14"
role="doc-noteref"><sup>14</sup></a>. Cette prise en charge permet de
réduire les suicides<a href="#fn15" class="footnote-ref" id="fnref15"
role="doc-noteref"><sup>15</sup></a>.</p>
<p> </p>
<p>Voilà donc une revue non exhaustive<a href="#fn16"
class="footnote-ref" id="fnref16" role="doc-noteref"><sup>16</sup></a>
des différentes populations atteintes par la transphobie – en plus des
personnes trans. Pourtant, en tant qu’anarchiste, je trouve cet
argumentaire futile. Le simple fait que les personnes trans soient
touchées par la transphobie est suffisant pour que nous ayons à nous
dresser contre celle-ci. Aucun courant anarchiste digne de ce nom ne
peut imaginer une société libre qui exclut une minorité. Et il n’existe
aucune minorité qui soit trop minoritaire pour que l’on ne se batte pas
pour elle, avec elle. Chaque personne doit être libre de toute
oppression. La transphobie en est une, présente dans toutes les sphères
de notre société et à tous ses niveaux : physique, mental, financier,
médical, accès au logement et à l’emploi, droit à disposer de son corps
et d’exister dans l’espace public, parmi tant d’autres. </p>
<p> </p>
<p>Nous avons démontré que hiérarchiser les luttes contribue à
marginaliser une population déjà vulnérable et à alimenter des discours
qui non seulement soutiennent l’extrême droite mais qui entraînent aussi
la mort ou le suicide de nombreuses personnes de tout genre. À
l’inverse, l’intersectionnalité, prônant une lutte contre toutes les
discriminations sans distinction ni priorité, peut permettre un
militantisme sans exclusion ni hiérarchie. N’est-ce pas là l’essence
même de l’anarchisme ?</p>
<aside id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><blockquote>
<p>Peut-on supporter l’autonomie des peuples à se définir eux-mêmes sans
soutenir aussi l’autonomie des individu·es à se définir elleux-mêmes ?
</p>
</blockquote>
<a href="#fnref1" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn2"><blockquote>
<p>Voir les cas de Dora Moutot et Marguerite Stern multipliant les
discours racistes, sexistes et transphobes et n’hésitant pas à
s’affilier à des structures ou personnalités d’extrême droite.</p>
</blockquote>
<a href="#fnref2" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn3"><blockquote>
<p>Isabelle d’Artagnan, Cassandre Begous, George Jablonski-Sideris. « La
fluidité de genre de l’Antiquité à nos jours. Des faits trans à toutes
les époques ». Institut La Boétie [en ligne].</p>
</blockquote>
<a href="#fnref3" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn4"><blockquote>
<p>Série de manifestations spontanées et violentes contre un raid
policier le 28 juin 1969 à New York. Considérée comme l’émergence de la
lutte queer, leur commémoration chaque année en juin a créé le mois des
fiertés. </p>
</blockquote>
<a href="#fnref4" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn5"><blockquote>
<p> Voir le cas d’Imane Khelif (victime de transphobie et de racisme) et
plus généralement les « tests de genre » imposés aux femmes dans les
milieux sportifs</p>
</blockquote>
<a href="#fnref5" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn6"><blockquote>
<p>Le texte est comme suit : « Ainsi sont définitivement adoptés l'accès
à la PMA pour les couples de femmes et les femmes seules […] »</p>
</blockquote>
<a href="#fnref6" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn7"><blockquote>
<p>Le texte est comme suit : « La loi détermine les conditions dans
lesquelles s’exerce la liberté garantie à la femme d’avoir recours à une
interruption volontaire de grossesse ». Le terme « la femme » exclut
donc les hommes trans. </p>
</blockquote>
<a href="#fnref7" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn8"><blockquote>
<p>I. d’Artagnan, C. Begous, G. Jablonski-Sideris, <em>op. cit.</em></p>
</blockquote>
<a href="#fnref8" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn9"><blockquote>
<p>Lettre de l’observatoire national des violences faites aux femmes
n°8</p>
</blockquote>
<a href="#fnref9" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn10"><blockquote>
<p>Amnesty International, « Les violences sexistes et sexuelles en
France ».</p>
</blockquote>
<a href="#fnref10" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn11"><blockquote>
<p>Fundamental Rights Agency, « LGBTI Survey Data explorer ».</p>
</blockquote>
<a href="#fnref11" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn12"><blockquote>
<p>Observatoire national des prisons, « Femmes trans en prison,
ostracisées et discriminées ».</p>
</blockquote>
<a href="#fnref12" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn13"><blockquote>
<p>Sur le « V-coding », voir Julia Oparah, « Feminism and the
(Trans)gender Entrapment of Gender Nonconforming Prisoners ». <em>UCLA
Women’s Law Journal</em> <em>18</em>(2), 2012, p. 239-271.</p>
</blockquote>
<a href="#fnref13" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn14"><blockquote>
<p>À partir de 14 ans pour les mastectomies et 16 pour les mammoplasties
pour les adolescent·es transgenres. Aucune législation n’existe pour
fixer un âge minimum pour ces mêmes procédures pour les adolescentes
cisgenres. La plupart des interventions sont faites à partir de 16
ans.</p>
</blockquote>
<a href="#fnref14" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn15"><blockquote>
<p>Ariel Bernier* et <span id="anchor"></span>Alain Leplège, « Les
traitements hormonaux des mineurs transgenres, ou les obstacles de
l’éthique médicale aujourd’hui ». <em>Med Sci 34</em>(6-7), 2018, p.
595-598.</p>
</blockquote>
<a href="#fnref15" class="footnote-back" role="doc-backlink">↩︎</a></li>
<li id="fn16"><blockquote>
<p>Pour compléter cette analyse, il faudrait aussi inclure les relations
raciales et le racisme, et inclure le traitement social réservé aux
personnes intersexes.</p>
</blockquote>
<a href="#fnref16" class="footnote-back" role="doc-backlink">↩︎</a></li>
</ol>
</aside>

                    </div>

                </div>
		    </div>
                <div>
    <!-- Le carroussel de carte -->
        {% include "Cards_brochure.html" %}
        
    </div>
        </section>

{% endblock content %}
