{% extends "base.html" %}
	{% block content %}
    
		<section class="js-section_title header_slider theme-white">
            <div  class="header_slider--header">
				<div class="media" style="width: fit-content;  height: fit-content;" >
					<img fetchpriority="high" width="1488" height="900" src="../img/Trans_illustration_livret.png" class="image_default no-lazy" style="background-color: #ffffff !important;" alt="illustration_radio" decoding="async" />
				</div>
                <div class="right">
                    <div class="title">
                        PAS D'ANARCHISME SANS LES PERSONNES
                        <div style="background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #5BCDF9), color-stop(30%, #F4A8B8), color-stop(40%, black), color-stop(60%, #F4A8B8), color-stop(100%, #5BCDF9));
                        color: transparent; -webkit-background-clip: text;">TRANS</div>
                    </div>
                    <div class="subtitle" > Introduction à l'inclusion 
                        inconditionnelle des personnes trans dans les luttes anarchistes<br />
                        Darline, liaison Commune de Lyon
                        <br />
                        Livret diffusé à Lyon
                    </div>

                    <div class="description" style="text-align: justify;font-size:19px;background: transparent;line-height: 105%;margin-bottom: 30%;">


                    </div>

                </div>
		    </div>
                <div>
    <!-- Le carroussel de carte -->
        {% include "Cards_brochure.html" %}
        
    </div>
        </section>

{% endblock content %}
