{% extends "base.html" %}

	{% block content %}
    <section class="js-section_title header_slider theme-white">
                        
    <div  class="header_slider--header" >
        <div class="media"  style="flex: 0 0 30% !important; height: max-content;">
            <img fetchpriority="high" width="1488" height="900" src="../img/ships.png" class="image_default no-lazy" alt="Radio_Grabuges" decoding="async" />
        </div>
        <div class="right" style="flex: 0 0 70% !important;">
            <div class="title">Nos événements et nos participations</div>
            <div class="subtitle"></div>
            <div class="description">La commune de Lyon prévoit régulièrement des sorties affinitaires ou non à Lyon et à Villeurbanne.</div>
            
            <div class="description">
                Ici sont annoncés les événements importants à venir, les festivals ou encore les rencontres publiques.
            </div>

            <div class="title">Automne Libertaire</div>
            <div class="subtitle">	LYON - VILLEURBANNE - Les collectifs qui organisent et aident à la réalisation du festival : la miebertaire, FA - liaison commune de lyon, La librairie la gryffe, le bar des clameurs, Rebel Girl Wip… </div>
            
            <div class="right" style="    display: flex;    flex-wrap: wrap;    align-content: flex-start;    flex-direction: row;    justify-content: center;    align-items: flex-start;">
                <img src="../img/Agenda_temporaire.png" style="width: 100%; height: auto; background-color: white;">
            </div>
            

                
                <div class="container-fullslider">
                <div class="swiper-container swiper_fiveposts">
                    
                    <div class="swiper-wrapper">
                    
                        <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#7_nov">
                                    <img width="800" height="800" src="../img/7_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content" >
                                    <h2><a target="" href="#7_nov">Samedi 7 et dimanche 8 novembre - Salon des expressions libertaires et alternatives</a></h2>
                                    <p>Editeurs, projections, conférences, débats, chorales, etc.</p>
                                </div>
                            </div>
                        </div>
                                <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#13_nov">
                                    <img width="800" height="800" src="../img/13_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#13_nov">Vendredi 13 novembre - REBEL GIRL SESSION #2 - Perf - Nø.V.D - Queerpanic - Splin </a></h2>
                                    <p>Concert des collectifs Refuse Record, Rebel Girl wip et Positive Approach : Perf (Lyon) - Nø.V.D (Clermont) - Queerpanic (Lyon) - Splin (Pologne). Bientôt plus de détails…</p>
                                </div>
                            </div>
                        </div>
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#14_nov">
                                    <img width="800" height="800" src="../img/14_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#14_nov">Samedi 14 novembre - 90 ans de la révolution espagnole, sortie du jeu ARAGO, atelier propagande et exposition d’art</a></h2>
                                    <p>Après-midi d’atelier de peinture de propagande et soirée de test du nouveau jeu de société ARAGO sur la guerre civile espagnole dans l’ambiance militante d’une exposition révoltée. </p>
                                </div>
                            </div>
                            </div>
                    
                        
                        </div>
                </div>
                                                    
            </div>
<div class="container-fullslider">
                <div class="swiper-container swiper_fiveposts">
                    
                    <div class="swiper-wrapper">
                    
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#20_nov">
                                    <img width="800" height="800" src="../img/20_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#20_nov">Vendredi 20 novembre - ASSEMBLAGE - CONCERT RIOT GRRRL & Marché DIY</a></h2>
                                    <p>Après-midi de marché DIY, zines et food-no-bombs suivie d’une soirée punk et queer énervé avec Merces (queer metal), Tati and the chronicle (Garage Rock), Les Nanarchistes (Punk Riot Grrrls) et Pondérale (Punk 2000 ‘). Miebertaire en collab’ avec Rebel Girl Wip. </p>
                                </div>
                            </div>
                            </div>
                    
                        
                        </div>
                </div>
                                                    
            </div>

            <div class="description">
                La liste des événements n'est pas encore complète. Restez connecté-es pour la suite... 
            </div>
            
            <img width="200" height="auto" src="../img/7_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" />
            <div class="subtitle" id="7_nov">	Samedi 7 et dimanche 8 novembre - Salon des expressions libertaires et alternatives</div>
            <div class="description">
                Editeurs, projections, conférences, débats, chorales, etc. Détail du programme à venir.  
            </div>

            <div class="subtitle" id="13_nov">	Vendredi 13 novembre - REBEL GIRL SESSION #2 - Perf - Nø.V.D - Queerpanic - Splin</div>
            <div class="description">
                Concert des collectifs Refuse Record, Rebel Girl wip et Positive Approach : Perf (Lyon) - Nø.V.D (Clermont) - Queerpanic (Lyon) - Splin (Pologne). Bientôt plus de détails…

                Liens à venir vers la billeterie. 
                    <br /> 
                L'événement à lieu au TOÏTOÏ LE ZINC - 17-19 Rue Marcel Dutartre, 69100 Villeurbanne
            </div>
            
            <img width="200" style="margin-left: 20% !important;  width: 60% !important;" height="auto" src="../img/14_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" />    
            <div class="subtitle" id="14_nov">	Samedi 14 novembre - 90 ans de la révolution espagnole, sortie du jeu ARAGO, atelier propagande et exposition d’art</div>
            <div class="description">
                Après-midi d’atelier de peinture de propagande et soirée de test du nouveau jeu de société ARAGO sur la guerre civile espagnole dans l’ambiance militante d’une exposition révoltée.

                Liens à venir pour l'inscription au test du jeu. Plus d'information sur cette page : <a href="https://courlly.org/Jeu_Arago_FA_Lyon.html">Le jeu ARAGO</a>. Et explications détaillées sur les artistes et les expositions. 
            </div>
            
            <img width="200" style="margin-left: 20% !important;  width: 60% !important;" height="auto" src="../img/20_nov_2.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" />
            <div class="subtitle" id="20_nov">	Vendredi 20 novembre - ASSEMBLAGE - CONCERT RIOT GRRRL & Marché DIY</div>
            <div class="description">
<p><em>Nous vous invitons &agrave; partir de <strong>17h </strong>&agrave; une <strong>apr&egrave;s-midi de march&eacute; DIY, zines et food-not-bombs</strong>, suivie &agrave; <strong>20h </strong>d&rsquo;un concert punk et queer &eacute;nerv&eacute; avec <strong>Merces (Queer Metal - Grenoble), Tati and the chronicle (Garage Rock - Paris), Les Nanarchistes (Punk Riot Grrrls - Paris) et Pond&eacute;rale (Punk 2000 &lsquo; - Clermont-Ferrand)</strong>.&nbsp;</em></p>
<p><em>Le concert est payant, &agrave; partir de 7 euros, ce qui permet de financer la venue des groupes et de les r&eacute;mun&eacute;rer correctement. </em></p>
<p><em>Le food-not-bombs est gratuit/prix libre et est assur&eacute; par <strong>La Miebertaire</strong> et vos anarchistes pr&eacute;f&eacute;r&eacute;-es. Pour les zines et le DIY, la liste des exposant-es va arriver...&nbsp;<br /></em></p>
<p><em>Pour les zines et le DIY, la liste des exposant-es va arriver...&nbsp;</em></p>
<p><em>L'&eacute;v&eacute;nement est ancr&eacute; dans l'</em><em><strong>Automne Libertaire </strong></em><em>et est en collab' avec </em><em><strong>Rebel Girl Wip</strong></em><em>, la </em><em><strong>Miebertaire </strong></em><em>et la </em><em><strong>Liaison commune de Lyon de la F&eacute;d&eacute;ration Anarchiste</strong></em><em>. 
<p><em>L'organisation de l'&eacute;v&eacute;nement est faite de </em><em><strong>mani&egrave;re informelle et par des personnes queer</strong></em><em>&nbsp;de la </em><em><strong>Miebertaire </strong></em><em>et de la </em><em><strong>Liaison commune de Lyon de la F&eacute;d&eacute;ration Anarchiste</strong></em><em>. Nous avons la volont&eacute; de finir ce </em><em><strong>20 novembre</strong></em><em>, journ&eacute;e du souvenir trans, dans un lieu de partage, d'anarchisme, de musique et de vie. Nous vous invitons &agrave; partager ensemble ce moment concret de solidarit&eacute; qui s'&eacute;tend finalement avec les possibilit&eacute;s mat&eacute;rielles de chacun-e de nous. N'h&eacute;sitez pas &agrave; vous manifester pour soutenir ou aider &agrave; organiser l'&eacute;v&eacute;nement</em><em>si vous en avez les moyens. </em></p>
<p><em><strong>Que cr&egrave;ve l'autoritarisme sous toutes ses formes &amp; que vive la libert&eacute; organisationnelle, corporelle, culturelle et mat&eacute;rielle.</strong></em></p>
<p><em>L'&eacute;v&eacute;nement &agrave; lieu au&nbsp;</em><em><strong>TO&Iuml;TO&Iuml; LE ZINC - 17-19 Rue Marcel Dutartre, 69100 Villeurbanne</strong></em></p>
            </div>
        </div>
    </div>
</section>
	{% endblock content %}
