{% extends "base.html" %}

	{% block content %}
    <section class="js-section_title header_slider theme-white">
                        
    <div  class="header_slider--header" >
        <div class="media"  style="flex: 0 0 30% !important; height: max-content;">
            <img fetchpriority="high" width="1488" height="900" src="../img/ships.png" class="image_default no-lazy" alt="Radio_Grabuges" decoding="async" />
        </div>
        <div class="right" style="flex: 0 0 70% !important;">
            <div class="title">Nos événements et nos participations</div>
            <div class="subtitle"></div>
            <div class="description">La commune de Lyon prévoit régulièrement des sorties affinitaires ou non à Lyon et à Villeurbanne.</div>
            
            <div class="description">
                Ici sont annoncés les événements importants à venir, les festivals ou encore les rencontres publiques.
            </div>

            <div class="title">Automne Libertaire</div>
            <div class="subtitle">	LYON - VILLEURBANNE - Les collectifs qui organisent et aident à la réalisation du festival : la miebertaire, FA - liaison commune de lyon, La librairie la gryffe, le bar des clameurs, … </div>
            
            <div class="right" style="    display: flex;    flex-wrap: wrap;    align-content: flex-start;    flex-direction: row;    justify-content: center;    align-items: flex-start;">
                <img src="../img/Agenda_temporaire.png" style="width: 100%; height: auto; background-color: white;">
            </div>
            

                
                <div class="container-fullslider">
                <div class="swiper-container swiper_fiveposts">
                    
                    <div class="swiper-wrapper">
                    
                        <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#7_nov">
                                    <img width="800" height="800" src="../img/7_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content" >
                                    <h2><a target="" href="#7_nov">Samedi 7 et dimanche 8 novembre - Salon des expressions libertaires et alternatives</a></h2>
                                    <p>Editeurs, projections, conférences, débats, chorales, etc.</p>
                                </div>
                            </div>
                        </div>
                                <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#13_nov">
                                    <img width="800" height="800" src="../img/13_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#13_nov">Vendredi 13 novembre - REBEL GIRL SESSION #2 - Perf - Nø.V.D - Queerpanic - Splin </a></h2>
                                    <p>Concert des collectifs Refuse Record, Rebel Girl wip et Positive Approach : Perf (Lyon) - Nø.V.D (Clermont) - Queerpanic (Lyon) - Splin (Pologne). Bientôt plus de détails…</p>
                                </div>
                            </div>
                        </div>
                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#14_nov">
                                    <img width="800" height="800" src="../img/14_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#14_nov">Samedi 14 novembre - 90 ans de la révolution espagnole, sortie du jeu ARAGO, atelier propagande et exposition d’art</a></h2>
                                    <p>Après-midi d’atelier de peinture de propagande et soirée de test du nouveau jeu de société ARAGO sur la guerre civile espagnole dans l’ambiance militante d’une exposition révoltée. </p>
                                </div>
                            </div>
                            </div>

                            <div class="audio-podcastsCards swiper-slide equal_heightSwiper" style="width: 40%">
                            <div class="card-podcast" style="padding: 0;">
                                <a target="" href="#20_nov">
                                    <img width="800" height="800" src="../img/20_nov.png" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="visuel à venir" decoding="async" /><noscript>
                                        <img width="800" height="800" src="" class="attachment-cube-thumb size-cube-thumb wp-post-image" alt="" decoding="async" /></noscript>
                                </a>
                                <div class="card-podcast__content">
                                    <h2><a target="" href="#20_nov">Vendredi 20 novembre - ASSEMBLAGE - CONCERT RIOT GRRRL & Marché DIY</a></h2>
                                    <p>Nous vous invitons à partir de17h pour une après-midi de marché DIY, zines et food-not-bombs, suivie à partir de 20h d’un concert punk et queer énervée avec Merces (Queer Metal - Grenoble), Tati and the chronicle (Garage Rock - Paris), Les Nanarchistes (Punk Riot Grrrls - Paris) et Pondérale (Punk 2000 ‘ - Clermont-Ferrand).

                                    Le food-not-bombs est assuré par la Miebertaire et vos anarchistes préféré-es. Pour les zines et le DIY, la liste des exposant-es va arriver. 

                                    L'événement est ancré dans l'Automne Libertaire et est organisé en collab' avec Rebel Girl Wip, la Miebertaire et la liaison commune de Lyon de la Fédération Anarchiste. Plus d'informations ici : Site de la Courlly 

                                    L'organisation de l'événement est faite de manière informelle et par des personnes queer. Nous avons la volonté de finir ce 20 novembre, journée du souvenir trans, dans un lieu de partage, d'anarchisme, de musique et de vie. On vous invite à partager ensemble ce moment concret de solidarité qui s'étend finalement avec les possibilités matérielles de chacun-e de nous. N'hésitez pas à vous manifester pour soutenir ou aider à organiser l'événement si vous en avez les moyens.  

                                    Que crève l'autoritarisme sous toutes ses formes & que vive la liberté organisationnelle, corporelle, culturelle et matérielle.

                                    L'événement à lieu au TOÏTOÏ LE ZINC - 17-19 Rue Marcel Dutartre, 69100 Villeurbanne</p>
                                </div>
                            </div>
                            </div>
                    
                        
                        </div>
                </div>
                                                    
            </div>

            <div class="description">
                La liste des événements n'est pas encore complète. Restez connecté-es pour la suite... 
            </div>
            
            <div class="subtitle" id="7_nov">	Samedi 7 et dimanche 8 novembre - Salon des expressions libertaires et alternatives</div>
            <div class="description">
                Editeurs, projections, conférences, débats, chorales, etc. Détail du programme à venir.  
            </div>

            <div class="subtitle" id="13_nov">	Vendredi 13 novembre - REBEL GIRL SESSION #2 - Perf - Nø.V.D - Queerpanic - Splin</div>
            <div class="description">
                Concert des collectifs Refuse Record, Rebel Girl wip et Positive Approach : Perf (Lyon) - Nø.V.D (Clermont) - Queerpanic (Lyon) - Splin (Pologne). Bientôt plus de détails…

                Liens à venir vers la billeterie. 
            </div>
                
            <div class="subtitle" id="14_nov">	Samedi 14 novembre - 90 ans de la révolution espagnole, sortie du jeu ARAGO, atelier propagande et exposition d’art</div>
            <div class="description">
                Après-midi d’atelier de peinture de propagande et soirée de test du nouveau jeu de société ARAGO sur la guerre civile espagnole dans l’ambiance militante d’une exposition révoltée.

                Liens à venir pour l'inscription au test du jeu. Et explications détaillées sur les artistes et les expositions. 
            </div>

            <div class="subtitle" id="20_nov">	Vendredi 20 novembre - ASSEMBLAGE - CONCERT RIOT GRRRL & Marché DIY</div>
            <div class="description">
                Après-midi de marché DIY, zines et food-no-bombs suivie d’une soirée punk et queer énervé avec Merces (queer metal - grenoble et lyon), Tati and the chronicle (Garage Rock - Paris), Les Nanarchistes (Punk Riot Grrrls - Paris) et Pondérale (Punk 2000 ‘ - Clermont-ferrand). Miebertaire en collab’ avec Rebel Girl Wip. 
            </div>
        </div>
    </div>
</section>
	{% endblock content %}
